button{
    border: 0px;
    background-color: #00000000;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.center{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.deselect{
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.avatar{
    background-color: #00000020;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: var(--avatar-size);
    height: var(--avatar-size);
    border-radius: 100%;
    overflow: hidden;
    backdrop-filter: blur(10px);
}

.close{
    background: #00000020;
    border: white;
    border-radius: 4px;
    width: 40px; 
    height: 40px; 
    float: right; 
    padding: 8px;
}

.main-picture{
    width: 160px;
    height: 160px;
    border-radius: 4px;
    margin-bottom: 8px;
    border: 1px solid var( --component-border );
}

.component{
    background: var( --component-bg );
    border: 1px solid var( --component-border );
    outline: 0px solid transparent;
    color: var( --default-font-color );
    border-radius: 5px;
    transition: border ease 0.175s, outline ease 0.175s, background 0.175s;
}

.component:hover{
    border-color: var( --accent-color-light );
}

.component:active, .component:focus{
    border-color: var( --accent-color-light );
    color: var( --component-text-color );
}

.component:disabled{
    opacity: 0.25;
    filter: brightness(0.75) saturate(0.5)
}

.component::placeholder{
    color: var( --component-placeholder-color );
}

.title{
    font-weight: bold;
    margin: 0px 0px 0px 0px;
}

.status{
    width: 8px;
    height: 8px;
    border-radius: 100%;
    float: left;
    background: red;
}

.shortcut{
    line-height: calc( var( --default-font-size ) + 4px );
    margin-left: 24px;
    float: right;
    font-size: 80%;
    color: #FFFFFF40;
}

button.component{
    padding: 8px 16px;

    border-color: var( --component-border );
    border-width: 0px 0px 2px 0px;
    border-style: solid;;
}

button.component:hover{
    background: var( --accent-color-normal );
    color: var( --component-text-color );
}

button.component:active{
    background: var( --accent-color-dark );
    border-color: var( --accent-color-normal );
    color: var( --default-font-color );
}

input.component{
    width: 100%;
}

input[type="file"].component{
    padding: 8px;
}

input[type="range"].component{
    cursor: pointer;
}

input[type="text"].component, 
textarea.component{
    width: 100%;
    padding: 8px 8px;
    margin: 0px;
}

input[type="text"].component:active, 
input[type="text"].component:focus, 
textarea.component:active, 
textarea.component:focus{
    outline: 3px solid var( --accent-color-dark );
}

textarea.component.resizable{
    max-height: 560px;
    overflow-y: scroll;
    resize: vertical;
}

textarea.single{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    resize: none;
}

button.component.tab{
    flex: 1;
    width: auto;
    border-radius: 6px 6px 0px 0px;
    border-width: 3px 0px 0px 0px;
    background: var( --menu-secondary-bg-color );
    filter: brightness(0.9)
}

button.component.tab.selected{
    border-color: var( --accent-color-light );
    filter: none;
}

button.component.tab:hover{
    background: var( --menu-secondary-bg-color );
}

.setting div{
    display: grid;
    gap: 16px;
    grid-template-columns: 64px auto;
    align-content: center;
}

.setting textarea{
    font-size: 85%;
    margin: 0px;
}

.setting input{
    margin: 0px;
    padding: 0px;
}

.avatar div{
    width: 100%;
    height: 100%;
}

.character{
    width: var( --avatar-size);
    height: var( --avatar-size);
    padding: 0px;

    background: #ddd;
    border-radius: 100%;
    border: 1px solid #fff;
    outline: 0px solid var(--accent-color-dark);
    
    overflow: hidden;
    flex-shrink: 0;
    
    transition: all ease 0.125s;
}

.character:hover{
    outline: 4px solid var(--accent-color-light);
}

.character img{
    object-fit: cover;
    transition: all ease 0.15s;
    filter: brightness(0.75) grayscale(25%);
}

.character:hover img{
    filter: brightness(1) grayscale(0%);
}

.character svg{
    width: 32px;
    height: 32px;
    fill: #808080;
}

.character:hover svg{
    fill: var(--accent-color-light);
}

.main-picture{
    object-fit: cover;
    border-radius: 100%;
}

.section{
    width: 100%;
}

.section.vertical{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.section.horizontal{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

.section hr{
    margin: 0px 0px;
    border-color: #80808040;
}

.collapsible{
    width: 100%;
    text-align: left;
    margin-bottom: 0px;
}

.collapsible:after {
    content: '\25B6';
    font-size: 75%;
    font-weight: bold;
    float: right;
}

.collapsible.active:after {
    content: '\25BC';
}

.collapsible-content{
    max-height: 0;
    overflow: hidden;
    /* transition: max-height 0.2s ease-out; */
}

.collapsible-container{
    background: #00000020;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.explanation{
    color: var( --explanation-text-color );
    font-size: 85%;
    margin: 4px 0px 8px 0px;
}

.timestamp{
    margin: 0px 4px;
    font-weight: 400;
    font-size: 80%;
    color: var( --timestamp-font-color );
}

.normal svg{
    fill: var( --icon-button-normal-color);
}

.normal:hover svg{
    fill: var( --icon-button-hover-color);
}

.normal:active svg{
    fill: var( --icon-button-press-color);
}

.close svg{
    width: 100%;
    height: 100%;
    stroke: var( --icon-button-normal-color);
}

.close:hover svg{
    stroke: var( --icon-button-hover-color);
}

.close:active svg{
    stroke: var( --icon-button-press-color);
}

.danger{  color: rgb(200, 64, 64); }
.danger:hover{ color: rgb(255, 128, 128); }
.danger:active{  color: rgb(128, 48, 48); }

.info{ color: rgb(64, 128, 220); }
.info:hover{ color: rgb(128, 192, 255); }
.info:active{ color: rgb(48, 128, 192); }

.confirm{ color: rgb(64, 220, 128); }
.confirm:hover{ color: rgb(144, 255, 220); }
.confirm:active{ color: rgb(48, 128, 96); }

.danger svg{ fill: rgb(200, 64, 64); }
.danger:hover svg{ fill: rgb(255, 128, 128); }
.danger:active svg{ fill: rgb(128, 48, 48); }

.info svg{ stroke: rgb(64, 128, 220); }
.info:hover svg{ stroke: rgb(128, 192, 255); }
.info:active svg{ stroke: rgb(48, 128, 192); }

.confirm svg{ fill: rgb(64, 220, 128); }
.confirm:hover svg{ fill: rgb(144, 255, 220); }
.confirm:active svg{ fill: rgb(48, 128, 96); }


.required::after{
    content: " *";
    color: red;
    font-weight: bolder;
}

.loading-outer{
    fill: none;
    stroke: var( --accent-color-normal);
    stroke-linecap: round;
    stroke-width: 12;
}

.loading-inner{
    fill: none;
    stroke: var( --accent-color-light);
    stroke-linecap: round;
    stroke-width: 12;
}

.fade-in{
    animation-name: fade-in;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

.loading{
    cursor: default;
}

.clickable{
    cursor: pointer;
}

.disabled{
    pointer-events: none;
}

.hidden{
    display: none !important;
    animation: none !important;
}

.blocked{
    cursor: not-allowed !important
}