@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

:root{
    --avatar-size: 54px;
    --header-size: 40px;

    --main-width: 860px;
    --main-padding: 8px;
    --side-width: 460px;

    --default-font-size: 16px;
    --default-font-face: 'Lato', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
