#header{
    width: 100%;
    height: var(--header-size);
    background: var(--header-bg-color);

    border-bottom: 1px solid var(--sub-color);
    position: absolute;
    display: grid;
    grid-template-columns: min-content auto min-content;
    align-items: center;
    justify-items: center;
}

#header div{
    padding: 4px 8px;
    display: flex;
}

#header button{
    width: 32px;
    height: 24px;
}

#header button svg{
    width: 24px;
    height: 24px;
}

.sidebar{
    width: fit-content;
    max-width: 100%;
    position: fixed;
    top: var(--header-size);
    bottom: 0px;
    transition: translate ease 0.2s;
}

.sidebar.left{
    left: 0px;
    border-right: 1px solid var( --sub-color );
    background: var( --menu-secondary-bg-color );
    display: flex;
    translate: -100% 0;
    box-shadow: 2px 0px #00000020;
}

.sidebar.right{
    right: 0px;
    border-left: 1px solid var( --sub-color );
    display: flex;
    flex-direction: column;
    grid-template-rows: min-content auto;
    translate: 100% 0;
    box-shadow: -2px 0px #00000020;
}

.sidebar.active{
    transition: translate ease 0.2s;
    translate: 0 0;
}

#characters{
    min-width: fit-content;
    height: 100%;
    padding: 12px;
    margin: 0px;
    
    background: var(--menu-primary-bg-color); 
    scrollbar-width: none;
    overflow-y: auto;
    
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#characters::-webkit-scrollbar{
    display: none;
}

#list{
    display: flex;
    flex-direction: column;
    gap: 12px; 
}

#editing{
    width: var( --side-width );
    padding: 24px 24px;
    overflow-y: scroll;
    scrollbar-width: thin;
}

#sidebar-right{
    width: var( --side-width );
    background: var( --menu-secondary-bg-color );
}

.tab-group{
    min-height: fit-content;
    background: var( --header-bg-color );
    border-bottom: 8px solid var( --menu-secondary-bg-color );
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 8px 8px 0px 8px;
    gap: 8px;
}

#settings{
    overflow-y: scroll;
    padding: 24px;
}

#profile{
    padding: 24px;
}

#chat{
    width: 100%;
    max-width: var( --main-width );
    height: 100%;
    margin: 0px auto;
    padding: 0px 0px;
    flex: 1;
    display: grid;
    grid-template-rows: auto 68px;
}

#messages{
    padding: 8px 0px;
    margin: 0px calc( var(--main-padding) * 0.5 );
    margin-top: var(--header-size);
    overflow-x: hidden;
    overflow-y: auto;
    display: block;
}

#messages::-webkit-scrollbar-track {
    margin: 8px 4px;
    background: transparent;
}

.msg{
    position: relative; 
    
    min-width: 50%;
    margin: 8px;
    margin-bottom: auto;
    padding: 16px;
    /* background: var(--msg-bg-color); */
    border-radius: 8px;
    border-left: 4px solid transparent;
    
    /* box-shadow: 0px 4px 8px #18181880; */
    display: grid;
    grid-template-columns: var( --avatar-size) auto;
    column-gap: 16px;
    word-break: break-word;
}

.msg:hover{
    background: var(--msg-bg-color);
    border-left: 4px solid var(--msg-invalid-color);
}

.msg:hover.user{
    border-color: var( --msg-user-color );
}

.msg:hover.bot{
    border-color: var( --msg-bot-color );
}

.msg .avatar{
    float: left;
}

.msg .avatar img{
    object-fit: cover;
}

.msg .author{
    margin-bottom: 4px;
    color: var(--author-text-color);
    font-size: 100%;
    font-weight: 900;
}

.msg p{
    color: var(--normal-text-color);
}

.msg strong{
    color: var(--normal-text-color);
}

.msg em{
    color: var(--action-text-color);
}

.msg del{
    text-decoration: none !important;
}

.msg p, .msg em{
    margin-top: 0px;
    margin-bottom: 1em;
}

.msg input[type="checkbox"]{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 8px;
    right: 8px;
    display: none;
}

.msg.edit textarea{
    width: 100%;
    min-height: 21px;
    padding: 8px;
    background: #00000020;
    border: none;
    border-radius: 4px;
    resize: none;
}

.msg .controls{
    text-align: right;
    font-size: 85%;
    color: var( --explanation-text-color );
}

.msg .controls i{
    font-style: unset;
    font-size: unset;
}

.msg .footer{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.msg .ratings{
    width: fit-content;
    visibility: hidden;
}

.msg:hover .ratings{
    visibility: hidden;
}

.msg .ratings button{
    width: 26px;
}

.msg .ratings svg{
    width: 16px;
    height: 16px;
}

.msg .swipes{
    display: grid;
    grid-template-columns: 32px auto 32px;
    visibility: hidden;
}

.msg:hover:last-child .swipes{
    visibility: visible;
}

.msg .swipes button{
    padding: 0px;
}

.msg .swipes svg{
    width: 16px;
    height: 16px;
    fill: var( --timestamp-font-color );
}

.msg .swipes .count{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 85%;
    word-spacing: 2px;
    padding-bottom: 2px;
    color: var( --timestamp-font-color );
}

.msg .dots{
    width: 40px;
    height: 20px;
    background: #00000020;
    border-radius: 4px;
    visibility: hidden;
}

.msg:hover .dots{
    visibility: visible;
}

.msg .dots svg{
    width: 20px;
    height: 20px;
}

.actions{
    position: absolute;
    width: fit-content;
    height: fit-content;
    background: var( --component-bg );
    border: 1px solid #ffffff08;
    border-radius: 4px;
    box-shadow: 0px 3px 0px #00000040;
    display: flex;
    flex-direction: row-reverse;
    translate: 0px -44px;
    gap: 4px;
}

.actions button{
    width: 40px;
    height: 36px;
    border-radius: 2px;
    fill: var( --icon-button-normal-color );
}

.actions button svg{
    width: 20px;
    height: 20px;
    margin-top: 4px;
}

.actions button:hover {
    background: #00000040;
    outline: 1px solid #80808040;
}

.msg:first-child .actions button:last-child{
    display: none;
}

.msg:first-child .swipes{
    display: none;
}

.msg.edit .footer-item{
    display: none;
    /* visibility: hidden !important; */
}

#input{
    position: relative;
    min-height: 36px;
    height: fit-content;
    padding: 0px 0px;
    margin: 0px var(--main-padding);
    border: 1.5px solid var(--input-border);
    border-radius: 6px;
    background: var(--input-color);
    color: var(--input-text-color);
    resize: none;
    box-shadow: 0px 8px 16px #18181880;
    display: grid;
    align-content: center;
    grid-template-columns: 48px auto 48px;
    column-gap: 0px;
}

#input .side{
    width: 100%;
    height: 100%;
    padding: 3px 0px 0px 0px;
}

#input .side svg{
    width: 24px;
    height: 24px;
}

#input textarea{
    height: 20px;
    min-height: 20px;
    max-height: 104px;
    margin: 8px 0px;
    padding: 0px 0px;
    background: none;
    color: var(--author-text-color);
    border: none;
    resize: none;
}

#input textarea::placeholder{
    color: var(--input-placeholder-color);
}

#delete, #history-options{
    padding: 16px;
    border-top: 1px solid #00000040;
    background: #00000020;
    /* border-radius: 8px 8px 0px 0px; */
    justify-content: right;
    gap: 16px;
}

#delete button, #history-options button{
    padding: 0px 24px;
}

.delete-mode .msg.delete:not(:first-child){
    background: var( --msg-delete-bg );
    border-color: var( --msg-delete-border );
}

.delete-mode .msg:not(:first-child) input[type="checkbox"]{
    display: block;
}

.delete-mode .msg:hover .footer-item{
    visibility: hidden;
}

#history{
    padding: 8px;
    margin: 0px calc( var(--main-padding) * 0.5 );
    margin-top: var(--header-size);
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    gap: 8px;
}

.history{
    padding: 16px;
    width: 100%;
    
    border-radius: 8px;
    border-left: 4px solid var( --msg-invalid-color );
    background: #00000016;
    
    display: grid;
    grid-template-columns: 25% auto;
    gap: 4px 24px;

    text-align: left;
}

.history:hover{
    border-left: 4px solid teal;
    background: var( --msg-bg-color );
}

.history .history-info{
    word-break: break-all;;
}

.history .delete{
    width: 32px;
    height: 32px;
    border-radius: 4px;
    margin-top: 8px;
    background: #00000020;
}

.history p{
    margin: 0px;
}

#options{
    position: absolute;
    width: fit-content;
    max-width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 4px;
    translate: -1px calc( -100% - 4px );
    border: 1px solid var( --input-border );
    border-radius: 6px;
    background-color: var(--menu-secondary-bg-color);
}

#options hr{
    margin: 8px 12px;
    border-color: #80808040;
}

.options-item{
    font-size: 95%;
    border-radius: 3px;
    text-align: left;
    padding: 8px 16px;
    color: var( --default-text-color );
}

.options-item svg{
    margin-bottom: -3px;
    margin-right: 8px;
    width: 16px;
    height: 16px;
}

.options-item:hover{
    background-color: var( --menu-primary-bg-color );
    color: var( --component-text-color );
}

.options-item:active{
    color: var( --default-text-color );
}

.options-item:disabled{
    opacity: 0.25;
    filter: brightness(0.75) saturate(0.5)
}