* {
    box-sizing: border-box;
    color: var(--default-font-color);
    font-size: var( --default-font-size );
    font-family: var( --default-font-face );
    line-height: 130%;
}

html, body{
    margin: 0px;
    padding: 0px;
    height: 100%;

    background: var(--bg-color);

    display: flex;
    flex-direction: column;
    overflow: hidden;

    scrollbar-color: var( --scrollbar-color ) transparent;
}

*::-webkit-scrollbar{
    width: 6px;
}

*::-webkit-scrollbar-track {
    margin: 4px;
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: var( --scrollbar-color );
    border-radius: 8px;
}

*:focus{
    outline: none;
}

*:disabled { 
    pointer-events: none;
}