:root{
    --selection-color: hsl(220, 100%, 50% );

    --code-text-color: orange;
    --code-bg-color: hsl(285, 5%, 8%);

    --default-font-color: hsl(0, 0%, 85%);
    --default-bg-color: hsl(192, 4%, 16%);
    --sub-bg-color: hsl(192, 6%, 14%);
    --header-bg-color: hsl(213, 18%, 10%);

    --accent-color-dark: rgb(34, 75, 71);
    --accent-color-normal: rgb(34, 138, 124);
    --accent-color-light: rgb(51, 233, 193);

    --component-color-normal: hsl(0, 0%, 75%);
    --component-color-hover: hsl(0, 0%, 100%);
    --component-component-color-disabled: hsla(0, 0%, 66%, 0.5);

    --component-bg-normal: hsl(0, 0%, 12%);
    --component-bg-hover: hsl(247, 10%, 18%);
    --component-bg-disabled: hsl(0, 0%, 6%);
    --component-border-normal: hsl(0, 0%, 33%);
    --component-border-hover: hsl(0, 0%, 66%);
    --component-border-disabled: hsl(0, 0%, 25%);

    --scrollbar-bg: var( --default-bg-color );
}

:root .light{
    --default-font-color: hsl(0, 0%, 15%);
    --default-bg-color: hsl(192, 5%, 90%);
    --sub-bg-color: hsl(210, 3%, 95%);

    --component-color-normal: hsl(0, 0%, 25%);
    --component-color-hover: hsl(0, 0%, 33%);
    --component-color-disabled: hsl(0, 0%, 10%);
    --component-bg-normal: hsl(0, 0%, 94%);
    --component-bg-hover: hsl(0, 0%, 100%);
    --component-bg-disabled: hsl(0, 0%, 66%);
    --component-border-normal: hsl(0, 0%, 50%);
    --component-border-hover: hsl(0, 0%, 33%);
    --component-border-disabled: hsl(0, 0%, 25%);

    --scrollbar-bg: var( --default-bg-color );
}

::selection, ::-moz-selection{
    color: white;
    background: var( --selection-color );
}

.normal{ --main-color: var( --component-color-normal ); }
.normal:hover{ --main-color: var( --component-color-hover ); }
.normal:active{ --main-color: var( --component-color-disabled ); }
.normal:disabled{ --main-color: var( --component-color-disabled ); }

.danger{ --main-color: rgb(255, 64, 64); }
.danger:hover{ --main-color: rgb(255, 128, 128); }
.danger:active{  --main-color: rgb(192, 64, 64); }
.danger:disabled{  --main-color: rgba(192, 64, 64, 0.5); }

.info{ --main-color: rgb(64, 128, 255); }
.info:hover{ --main-color: rgb(128, 192, 255); }
.info:active{ --main-color: rgb(48, 128, 192); }
.info:disabled{ --main-color: rgba(48, 128, 192, 0.5); }

.confirm{ --main-color: rgb(64, 255, 128); }
.confirm:hover{ --main-color: rgb(144, 255, 220); }
.confirm:active{ --main-color: rgb(48, 128, 96); }
.confirm:disabled{ --main-color: rgba(48, 128, 96, 0.5); }

.special{ --main-color: rgb(255, 220, 64); }
.special:hover{ --main-color: rgb(255, 244, 144); }
.special:active{ --main-color: rgb(128, 120, 48); }
.special:disabled{ --main-color: rgba(128, 120, 48, 0.5); }

.accent{ --main-color: var( --accent-color-normal ); }
.accent:hover{ --main-color: var( --accent-color-light ); }
.accent:active{ --main-color: var( --accent-color-light ); }
.accent:disabled{ --main-color: var( --accent-color-dark ); }

:is(.normal, .danger, .info, .confirm, .special, .accent){
    color: var( --main-color );
}