:root{
    --selection-color: hsl(220, 100%, 50% );
    --code-bg-color: hsl(285, 5%, 12%);

    --default-font-color: hsl(0, 0%, 85%);
    --default-bg-color: hsl(210, 3%, 16%);

    --accent-color-dark: rgb(34, 75, 71);
    --accent-color-normal: rgb(34, 138, 124);
    --accent-color-light: rgb(51, 233, 193);

    --component-color-normal: hsl(0, 0%, 75%);
    --component-color-hover: hsl(0, 0%, 100%);
    --component-color-disabled: hsla(0, 0%, 66%, 0.5);
    --component-bg-normal: hsl(0, 0%, 12%);
    --component-bg-hover: hsl(247, 10%, 18%);
    --component-bg-disabled: hsl(0, 0%, 6%);
    --component-border-normal: hsl(0, 0%, 33%);
    --component-border-hover: hsl(0, 0%, 66%);
    --component-border-disabled: hsl(0, 0%, 25%);

    --scrollbar-bg: var( --default-bg-color );
}

:root .light{
    --default-font-color: hsl(0, 0%, 15%);
    --default-bg-color: hsl(192, 5%, 90%);

    --component-color-normal: hsl(0, 0%, 25%);
    --component-color-hover: hsl(0, 0%, 33%);
    --component-color-disabled: hsl(0, 0%, 10%);
    --component-bg-normal: hsl(0, 0%, 95%);
    --component-bg-hover: hsl(0, 0%, 100%);
    --component-bg-disabled: hsl(0, 0%, 66%);
    --component-border-normal: hsl(0, 0%, 50%);
    --component-border-hover: hsl(0, 0%, 33%);
    --component-border-disabled: hsl(0, 0%, 25%);

    --scrollbar-bg: var( --default-bg-color );
}  

::selection, ::-moz-selection{
    color: white;
    background: var( --selection-color );
}


.normal{ color: var( --component-color-normal ) }
.normal:hover{ color: var( --component-color-hover ) }
.normal:active{ color: var( --component-color-disabled ) }
.normal:disabled{ color: var( --component-color-disabled ) }

.danger{  color: rgb(255, 64, 64) }
.danger:hover{ color: rgb(255, 128, 128) }
.danger:active{  color: rgb(192, 64, 64) }
.danger:disabled{  color: rgba(192, 64, 64, 0.5) }

.info{ color: rgb(64, 128, 255) }
.info:hover{ color: rgb(128, 192, 255) }
.info:active{ color: rgb(48, 128, 192) }
.info:disabled{ color: rgba(48, 128, 192, 0.5) }

.confirm{ color: rgb(64, 255, 128) }
.confirm:hover{ color: rgb(144, 255, 220) }
.confirm:active{ color: rgb(48, 128, 96) }
.confirm:disabled{ color: rgba(48, 128, 96, 0.5) }

.special{ color: rgb(255, 220, 64) }
.special:hover{ color: rgb(255, 244, 144) }
.special:active{ color: rgb(128, 120, 48) }
.special:disabled{ color: rgba(128, 120, 48, 0.5) }

.accent{ color: var( --accent-color-normal ) }
.accent:hover{ color: var( --accent-color-light ) }
.accent:active{ color: var( --accent-color-light ) }
.accent:disabled{ color: var( --accent-color-dark ) }