:root {
    line-height: 1.3em;
    font-weight: 400;
    
    box-sizing: border-box;
    font-size: var( --default-font-size );
    font-family: var( --default-font-face );
    
    
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    
    display: flex;
    place-items: center;
    flex-direction: column;
    align-items: stretch;
    overflow: hidden;

    color: var( --default-font-color );
    background-color: var( --default-bg-color );
}

p{
    margin: 0px;
}

button {
    cursor: pointer;
    background: none;
    border: none;
    font-family: var( --default-font-face );
    width: fit-content;
}

svg{
    width: 16px;
    height: 16px;
}