:root{
  --avatar-size: 54px;
  --header-size: 36px;
  --chat-width: 900px;

  --default-font-size: 16px;
  --default-font-face: 'Lato';

  --system-font-size: 13px;
  --system-font-face: 'Lato';

  /* z-indices */
  --layer-base: 0;
  --layer-popup: 250;
  --layer-menu: 500;
  --layer-sidebar: 750;
  --layer-header: 1000;
  --layer-loading: 2000;
  --layer-system: 5000;
}