div.container.component{
  --field-color-primary: var(--surface-neutral-200);
  --field-color-secondary: var(--surface-neutral-300);
  --field-color-tertiary: var(--surface-neutral-400);
  --field-border-radius: 5px;

  border-style: solid;
  border-width: 0px;
  border-color: var( --surface-neutral-300 );
  border-radius: var( --field-border-radius );
  outline: 1px solid var( --surface-neutral-400 );
  padding: 4px 4px;
  min-height: 30px;
  background: var( --field-color-primary );
  --scrollbar-background: var( --field-color-primary );
}

div.container.component.colored{
  border-width: 0px 0px 0px 6px;
}

div.container.component select{
  background: none;
}

div.container.component.focus:focus-within{
  background: var( --surface-neutral-300 );
  border-color: var( --surface-neutral-400 );
  outline: 1px solid var( --surface-neutral-500 );
  --scrollbar-background: var( --surface-neutral-300 );
}

.component.container hr{
    margin: 0;
    width: calc(100% - 16px);
    left: 8px;
    right: 8px;
    color: gray;
    opacity: .2;
}