input[type="checkbox"].component {
  --checkbox-unchecked-background: var(--surface-primary-200);
  --checkbox-unchecked-outline: var(--surface-primary-200);
  --checkbox-checked-background: var(--surface-primary-400);
  --checkbox-checked-outline: var(--surface-primary-400);
  --checkbox-checked-mark: var(--surface-primary-100);

  --checkbox-size: 24px;
  --checkbox-border-radius: 5px;
  --checkbox-checkmark-thickness: 4px;
  --checkbox-checkmark-size: 9px;
  --checkbox-outline-thickness: 2px;

  -webkit-appearance: none;
  appearance: none;
  min-width: var(--checkbox-size);
  min-height: var(--checkbox-size);
  border-radius: var(--checkbox-border-radius);

  border: var( --checkbox-outline-thickness) solid var(--checkbox-unchecked-outline);
  outline: none;
  background: var(--checkbox-unchecked-background);

  position: relative;
  cursor: pointer;
  transition: background 0.2s ease;
  flex-shrink: 0;
}

input[type="checkbox"].component.small {
  --checkbox-size: 18px;
  --checkbox-border-radius: 3px;
  --checkbox-checkmark-thickness: 3px;
  --checkbox-checkmark-size: 7px;
  --checkbox-border-radius: 4px;
  --checkbox-outline-thickness: 2px;
}

body.light input[type="checkbox"].component {
  --checkbox-unchecked-background: var(--surface-primary-300);
  --checkbox-unchecked-outline: var(--surface-primary-300);
  --checkbox-checked-background: var(--surface-primary-200);
  --checkbox-checked-outline: var(--surface-primary-200);
  --checkbox-checked-mark: var(--surface-primary-500);
}

input[type="checkbox"].component:checked {
  background: var( --checkbox-checked-background );
  border: var( --checkbox-outline-thickness) solid var(--checkbox-checked-outline);
}

input[type="checkbox"].component::before {
  content: '';
  position: absolute;
  width: var(--checkbox-checkmark-size);
  height: calc(var(--checkbox-checkmark-size) / 2);
  border-left: var(--checkbox-checkmark-thickness) solid var( --checkbox-checked-mark );
  border-bottom: var(--checkbox-checkmark-thickness)  solid var( --checkbox-checked-mark );
  top: 50%;
  left: 50%;
  transform: translate(-50%, -65%) rotate(-45deg);
  opacity: 0;
  transition: opacity 0.2s ease;
}

input[type="checkbox"].component:checked::before {
  opacity: 1;
}

input[type="checkbox"].component:focus {
  outline: var( --checkbox-outline-thickness ) solid var( --selection-color );
}

input[type="checkbox"].component:disabled {
  opacity: 0.25;
  cursor: not-allowed;
  filter: grayscale(1.0);
}