select.component{
  position: relative;
  cursor: pointer;
}

select.component.editable{
  user-select: none;
  padding-right: 24px;
}

/* cover rules */
/* simulates an editable <select> */
select.component.editable ~input[type="text"]{
  --cover-border-radius: calc(var( --field-border-radius ) + 2px);
  position: absolute;
  padding-right: 4px;
  font-size: .825em;
  left: 2px;
  top: 2px;
  min-height: unset;
  width: calc(100% - 20px);
  height: calc(var(--field-height, 30px) - 4px);
  outline: none;
  border: none;
  box-shadow: none;
  border-radius: var( --field-border-radius ) 0px 0px var( --field-border-radius );
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: var( --field-normal-outline );
}

/* change cover when hovering itself (rule not present elsewhere) */
select.component.editable ~input[type="text"]:hover{
  color: var ( --field-hover-content );
  background: var( --field-hover-background );
  outline: var( --field-hover-outline );
}

/* change cover when hovering or focusing dropdown */
select.component.editable:hover ~input[type="text"],
select.component.editable:focus ~input[type="text"]{
  color: var ( --field-hover-content );
  background: var( --field-hover-background );
  outline: var( --field-hover-outline );
}

/* change dropdown when hovering cover */
select.component.editable:has(
  ~input[type="text"]:hover
){
  background: var( --field-hover-background );
  outline: 1px solid var(--field-hover-outline );
  box-shadow: var(--field-shadow-shape) var( --field-hover-shadow );
}

/* change dropdown when focusing cover */
select.component.editable:has(
  ~input[type="text"]:active,
  ~input[type="text"]:focus,
  ~input[type="text"]:focus-within
){
  background: var( --field-focus-background );
  outline: 1px solid var(--field-focus-outline );
  box-shadow: var(--field-shadow-shape) var( --field-focus-shadow );
}

