input[type="range"].component {
  --slider-color-primary: var(--surface-primary-400 );
  --slider-color-secondary: var(--surface-primary-100 );
  --slider-color-tertiary: var(--surface-primary-200);

  --slider-track-height: 3px;
  --slider-progress-height: 7px;
  --slider-thumb-size: 11px;
  --slider-thumb-border: 3px;
  --slider-height: 30px;
  --slider-border-radius: 30px;

  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  appearance: none;

  height: var( --slider-height );
  border-radius: var( --slider-border-radius );
  background: none;
  outline: none;
  cursor: pointer;
  overflow: visible;
}

:root .light input[type="range"]{
  --slider-color-primary: var(--surface-primary-100 );
  --slider-color-secondary: var(--surface-primary-400 );
  --slider-color-tertiary: var(--surface-primary-200);
}

input[type="range"].component:focus,
input[type="range"].component:active{
  outline: none;
  background: none;
  --slider-color-primary: var( --surface-primary-500 );
  --slider-color-secondary: var( --surface-primary-300 );
}

:root .light input[type="range"].component:focus,
:root .light input[type="range"].component:active{
  outline: none;
  background: none;
  --slider-color-primary: var( --surface-primary-300 );
  --slider-color-secondary: var( --surface-primary-500 );
}

/* Track */
input[type="range"].component::-moz-range-track {
  height: var(--slider-track-height);
  border-radius: var( --slider-border-radius );
  background: var(--slider-color-tertiary);
}

input[type="range"]::-moz-range-track::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;   /* tail length */
  height: 100%;
  background: red;
  border-radius: inherit;
}

/* Progress fill (WebKit) */
input[type="range"].component::-webkit-slider-runnable-track {
  height: var(--slider-track-height);
  border-radius: var( --slider-border-radius );
  background: var(--surface-primary-300 );
  box-sizing: border-box;
}

:root .light input[type="range"].component::-webkit-slider-runnable-track {
  background: var(--slider-color-primary);
}

/* Progress fill (Firefox) */
input[type="range"].component::-moz-range-progress {
  box-sizing: border-box;
  height: var(--slider-progress-height );
  background: var(--slider-color-primary);
  border-radius: var( --slider-border-radius ) 0px 0px var( --slider-border-radius );
  overflow: hidden;
}

/* Thumb */
/* Thumb (WebKit) */
input[type="range"].component::-webkit-slider-thumb{
  -webkit-appearance: none;
  appearance: none;
  box-sizing: border-box;
  width: var(--slider-thumb-size);
  height: var(--slider-thumb-size);
  border: none;
  outline: var(--slider-thumb-border) solid var(--slider-color-primary);
  border-radius: 50%;
  background: var(--slider-color-secondary);
  transform: translateY(calc((var(--slider-track-height) - var(--slider-thumb-size)) * 0.5));
}

/* keep your firefox rules too */
input[type="range"].component::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  box-sizing: border-box;;
  width: var(--slider-thumb-size);
  height: var(--slider-thumb-size);
  border: none;
  outline: var(--slider-thumb-border) solid var(--slider-color-primary);
  border-radius: 50%;
  background: var(--slider-color-secondary);

}