:root{
  --selection-color: hsl(220, 100%, 50% );

  --header-color: hsl(213, 18%, 10%);

  --background-neutral-100: hsl(210, 7%, 12%); /* chat history item */
  --background-neutral-200: hsl(192, 6%, 14%); /* main background */
  --background-neutral-300: hsl(192, 5%, 15%); /* main background */
  --background-neutral-400: hsl(192, 4%, 16%); /* side menus */
  --background-neutral-500: hsl(192, 5%, 20%); /* side menus outline */

  --surface-primary-100: rgb(35, 51, 51); /* slider thumb, checkbox unchecked, checkmark, UI component focus shadow */
  --surface-primary-200: rgb(34, 75, 71); /* slider track */
  --surface-primary-300: rgb(34, 138, 124); /* primary normal, checkbox outline, scrollbar */
  --surface-primary-400: rgb(51, 233, 193); /* slider progress, logo, primary hover, checkbox checked, UI component focus */
  --surface-primary-500: rgb(133, 255, 229); /* slider focus */

  --surface-secondary-100: rgb(54, 45, 27); /* (unused) */
  --surface-secondary-200: rgb(134, 122, 87); /* (unused) */
  --surface-secondary-300: rgb(214, 199, 147); /* settings tabs normal */
  --surface-secondary-400: rgb(241, 232, 183); /* settings tabs hover */
  --surface-secondary-500: rgb(255, 251, 220); /* (unused) */

  --surface-neutral-100: hsl(0, 0%, 5%); /*UI component shadow */
  --surface-neutral-200: hsl(247, 4%, 14%); /* UI component background */
  --surface-neutral-300: hsl(247, 10%, 18%); /* UI component background hover */
  --surface-neutral-400: hsl(0, 0%, 33%); /* UI component outline */
  --surface-neutral-500: hsl(0, 0%, 50%); /* UI component outline hover */

  --content-primary-100: hsl(40, 8%, 44%); /* description and explanation */
  --content-primary-200: hsl(60, 10%, 70%); /* menu, settings and general UI components text */
  --content-primary-300: hsl(48, 15%, 85%); /* chat normal text, UI components text focus */

  --content-secondary-100: hsl(177, 23%, 38%); /* thinking block */
  --content-secondary-200: hsl(180, 22%, 55%); /* chat narrative text */
  --content-secondary-300: hsl(199, 68%, 88%); /* thinking block text */

  --content-neutral-100: hsl(40, 8%, 44%); /* style text */
  --content-neutral-200: hsl(60, 10%, 70%); /* style normal */
  --content-neutral-300: hsl(48, 15%, 85%); /* style hover */

  --content-danger-100: rgb(71, 34, 34);
  --content-danger-200: rgb(139, 42, 42);
  --content-danger-300: rgb(255, 64, 64);
  --content-danger-400: rgb(255, 98, 98);
  --content-danger-500: rgb(255, 136, 136);

  --content-info-100: rgb(39, 56, 70);
  --content-info-200: rgb(51, 84, 102);
  --content-info-300: rgb(64, 128, 255);
  --content-info-400: rgb(89, 170, 255);
  --content-info-500: rgb(128, 192, 255);

  --content-confirm-100: rgb(43, 70, 59);
  --content-confirm-200: rgb(61, 119, 92);
  --content-confirm-300: rgb(0, 224, 131);
  --content-confirm-400: rgb(103, 242, 181);
  --content-confirm-500: rgb(144, 255, 220);

  --content-special-100: rgb(65, 62, 42);
  --content-special-200: rgb(104, 95, 57);
  --content-special-300: rgb(255, 220, 64);
  --content-special-400: rgb(255, 236, 84);
  --content-special-500: rgb(255, 246, 164);

  --chat-input-background: hsl(0, 0%, 30%); /* chat textbox background */
  --chat-input-border: 1px solid hsla(0, 0%, 50%, 0.5); /* chat textbox border */
  --chat-input-outline: 1px solid hsla(0, 0%, 10%, 0.5); /* chat textbox outline */

  --code-color-inline: #ffa657; /* inline code text */
  --code-color-block: #c9d1d9; /* code blocks text color */
  --code-color-background: #0d1117; /* code block background */

  /* component colors normal */
  --field-normal-content: var( --content-neutral-200 );
  --field-normal-background: var( --surface-neutral-200 );
  --field-normal-outline: var( --surface-neutral-400 );
  --field-normal-shadow: var(  --surface-neutral-100 );

  /* component colors hover */
  --field-hover-content: var( --content-neutral-300 );
  --field-hover-background: var( --surface-neutral-300 );
  --field-hover-outline: var( --surface-neutral-500 );
  --field-hover-shadow: var( --surface-neutral-100 );

  /* component colors focus */
  --field-focus-content: var( --content-neutral-300 );
  --field-focus-background: var( --surface-neutral-300 );
  --field-focus-outline: var( --surface-primary-400 );
  --field-focus-shadow: var( --surface-primary-200 );

  /* component default sizes */
  --field-height: 30px;
  --field-border-radius: 4px;
  --field-shadow-shape: 0px 2px 2px 0px;

  /* scrollbar colors */
  --scrollbar-primary: var( --surface-primary-300 );
  --scrollbar-secondary: var( --surface-secondary-300 );
  --scrollbar-neutral: var( --background-neutral-400 );

  --scrollbar-color: var( --scrollbar-primary );
  --scrollbar-background: transparent;
}


:root .light{
  --background-neutral-100: hsl(0, 0%, 93%);
  --background-neutral-200: hsl(48, 2%, 90%);
  --background-neutral-300: hsl(48, 2%, 90%);
  --background-neutral-400: hsl(48, 4%, 85%);
  --background-neutral-500: hsl(48, 0%, 75%);
  /* --- */
  --surface-primary-100: rgb(46, 51, 51);
  --surface-primary-200: rgb(63, 92, 89);
  --surface-primary-300: rgb(34, 138, 124);
  --surface-primary-400: rgb(51, 233, 193);
  --surface-primary-500: rgb(133, 255, 229);

  --surface-secondary-100: rgb(255, 255, 255);
  --surface-secondary-200: rgb(255, 243, 230);
  --surface-secondary-300: rgb(255, 219, 186);
  --surface-secondary-400: rgb(255, 196, 143);
  --surface-secondary-500: rgb(255, 174, 101);

  --surface-neutral-100: hsl(0, 0%, 72%);
  --surface-neutral-200: hsl(48, 5%, 95%);
  --surface-neutral-300: hsl(48, 100%, 100%);
  --surface-neutral-400: hsl(0, 0%, 50%);
  --surface-neutral-500: hsl(180, 3%, 30%);

  --content-primary-100: hsl(36, 8%, 47%);
  --content-primary-200: hsl(60, 10%, 32%);
  --content-primary-300: hsl(47, 21%, 13%);

  --content-secondary-100: hsl(176, 66%, 14%);
  --content-secondary-200: hsl(173, 35%, 29%);
  --content-secondary-300: hsl(172, 17%, 35%);

  --content-neutral-100: hsl(36, 8%, 47%);
  --content-neutral-200: hsl(60, 10%, 32%);
  --content-neutral-300: hsl(47, 21%, 13%);

  --chat-input-background: hsl(0, 0%, 95%);
  --chat-input-border: 1px solid hsla(48, 5%, 25%, 0.5);
  --chat-input-outline: 1px solid hsla(48, 5%, 20%, 0.125);

  --field-normal-content: var( --content-neutral-200 );
  --field-normal-background: var( --surface-neutral-200 );
  --field-normal-outline: var( --surface-neutral-400 );
  --field-normal-shadow: var(  --surface-neutral-400 );

  --field-hover-content: var( --content-neutral-300 );
  --field-hover-background: var( --surface-neutral-300 );
  --field-hover-outline: var( --surface-neutral-400 );
  --field-hover-shadow: var( --surface-neutral-400 );

  --field-focus-content: var( --content-neutral-300 );
  --field-focus-background: var( --surface-neutral-300 );
  --field-focus-outline: var( --surface-primary-300 );
  --field-focus-shadow: var( --surface-neutral-400 );

  --scrollbar-primary: var( --surface-primary-300 );
  --scrollbar-secondary: var( --surface-secondary-300 );
  --scrollbar-neutral: var( --background-neutral-200 );

  --scrollbar-color: var( --scrollbar-primary );
  --scrollbar-background: transparent;
}

.primary{
  --field-normal-content: var( --surface-primary-300 );
  --field-hover-content: var( --surface-primary-400 );
  --field-focus-content: var( --surface-primary-400 );
}

.secondary{
  --field-normal-content: var( --surface-secondary-400 );
  --field-hover-content: var( --surface-secondary-500 );
  --field-focus-content: var( --surface-secondary-500 );
}

.normal{
  --field-normal-content: var( --content-primary-200 );
  --field-hover-content: var( --content-primary-300 );
  --field-focus-content: var( --content-primary-300 );
}

.danger{
  --field-normal-content: var( --content-danger-300 );
  --field-hover-content: var( --content-danger-400 );
  --field-focus-content: var( --content-danger-400 );
}

.info{
  --field-normal-content: var( --content-info-300 );
  --field-hover-content: var( --content-info-400 );
  --field-focus-content: var( --content-info-400 );
}

.confirm{
  --field-normal-content: var( --content-confirm-300 );
  --field-hover-content: var( --content-confirm-400 );
  --field-focus-content: var( --content-confirm-400 );
}

body.light .confirm:not(.clear){
  --field-normal-content: var( --content-neutral-300 );
  --field-hover-content: var( --content-neutral-200 );
  --field-focus-content: var( --content-neutral-200 );

  --field-normal-background: var( --content-confirm-300 );
  --field-hover-background: var( --content-confirm-400 );
  --field-focus-background: var( --content-confirm-400 );
}

.special{
  --field-normal-content: var( --content-special-300 );
  --field-hover-content: var( --content-special-400 );
  --field-focus-content: var( --content-special-400 );
}

body.light .special{
  --field-normal-content: var( --content-special-100 );
  --field-hover-content: var( --content-special-200 );
  --field-focus-content: var( --content-special-200 );
}

body.light .special:not(.clear){
  --field-normal-background: var( --content-special-200 );
  --field-hover-background: var( --content-special-300 );
  --field-focus-background: var( --content-special-300 );
}

:is(.primary, .secondary, .normal, .danger, .info, .confirm, .special){
  color: var( --field-normal-content );
}

:is(.primary, .secondary, .normal, .danger, .info, .confirm, .special):hover{
  color: var( --field-hover-content );
}

:is(.primary, .secondary, .normal, .danger, .info, .confirm, .special):active,
:is(.primary, .secondary, .normal, .danger, .info, .confirm, .special):hover{
  color: var( --field-focus-content );
}